<div class="center hero-unit">
	<h1>Welcome to Memorable Timelines!</h1>
	<h2>
	  Start creating your family history timelines today!
	</h2>

	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>