<% provide(:title, 'All users') %>
<h1>All users</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Birth Date</th>
		</tr>
	</thead>
	<tbody>
  <% @users.each do |user| %>
    <tr>
    	<td>
      <%= link_to user.name, user %>
      </td>
      <td>
      <%= link_to user.email, user %>
      </td>
      <td>
      <%= link_to user.birth_date, user %>
      </td>
    </tr>
  <% end %>
	</tbody>	
</table>
